<%= form_for @brand do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lName %>
    <%= f.text_field :lName, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :qTy %>
    <%= f.text_field :qTy, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>