        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="/"><img src="/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									USA
									<span class="caret"></span>
								</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Canada</a></li>
                                    <li><a href="#">UK</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									DOLLAR
									<span class="caret"></span>
								</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Canadian Dollar</a></li>
                                    <li><a href="#">Pound</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">

                                <li>
                                    <%= link_to '<i class="fa fa-user"></i> Account'.html_safe, userprofile_index_path%>
                                </li>
                                <li>
                                    <%= link_to '<i class="fa fa-star"></i> Wishlist'.html_safe, userprofile_index_path%>
                                </li>
                                <li>
                                    <%= link_to '<i class="fa fa-crosshairs"></i> Checkout'.html_safe,checkout_index_path%>
                                </li>
                                <li>
                                    <%= link_to '<i class="fa fa-shopping-cart"></i> Cart'.html_safe,userprofile_index_path%>
                                </li>
                                <% if user_signed_in?%>
                                <li>
                                    <%= link_to '<i class="fa fa-external-link-square"></i> Go Admin'.html_safe,admin_products_path%>
                                </li>
                                <li>
                                    <%= link_to '<i class="fa fa-lock"></i> Logout'.html_safe,destroy_user_session_path, method: :delete%>
                                </li>

                                <% else %>
                                <li>
                                    <%= link_to '<i class="fa fa-sign-in"></i> Login'.html_safe,new_user_session_path%>
                                </li>
                                <li>
                                    <%= link_to '<i class="fa fa-plus"></i> SignUp'.html_safe,new_user_registration_path%>
                                </li>

                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/" class="active">Home</a></li>
                                <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="products">Products</a></li>
                                        <!--<li><a href="product_detail#index">Product Details</a></li>-->
                                        <li><a href="checkout">Checkout</a></li>
                                        <!--<li><a href="login.html">Login</a></li>-->
                                    </ul>
                                </li>
                                <li><a href="aboutus">About Us</a></li>
                                <li>
                                    <a href="contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <%= simple_form_for :search, :url => search_index_path, :method => :get do |f|%>
                        <div class="ui-widget search_box pull-right">
                                <%= f.input_field :query, :input_html => {id: 'tags', class: 'ui-autocomplete-input', style: 'font-size: 12px;'}%>
                                <%= f.button :submit %> <!-- '<span><i class="fa fa-search" style="margin: 0 0;font-size: 12px; "></i> Search</span>'.html_safe-->
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    <!--/header-->
