
 <div class='row'>
    <h1 class='text-center'>Category List</h1>
 </div>
 <br>

 <table class="table table-striped">
    <thead>
        <tr>
                <th> ID</th>
                <th>Name</th>
                <th>Sub Name</th>
                <th>Status</th>
                <th>update</th>
                <th>Delete</th>
        </tr>
    </thead>
    <% @categories.each do |cat|%>
    <tbody>
        <tr>
            <td><%= cat.id%></td>
            <td><%= cat.name%></td>
            <td><%= cat.sub_cat%></td>
            <td><button class="<%= cat.status == "Enable" ? "btn btn-success btn-small" : "btn btn-default"%>"><%= cat.status%></button></td>
            <td>
                <%= link_to 'Edit', edit_admin_category_path(cat),class:'btn btn-info btn-small'%>
            </td>
            <td>
                <%= link_to 'Remove',admin_category_path(cat),:method => :delete,:class => 'btn btn-danger'%>
            </td>
        </tr>
    </tbody>
    <% end %>
</table>
