<script>
    $(document).ready(function(){
    <?php for($i=1;$i<60;$i++){?>
    // start loop
        $('#amountDiv<?php echo $i;?>').hide();
        $('#checkSale<?php echo $i;?>').show();
            $('#onSale<?php echo $i;?>').click(function(){  // run when admin need to add amount for sale
            $('#amountDiv<?php echo $i;?>').show();
            $('#checkSale<?php echo $i;?>').hide();
                $('#saveAmount<?php echo $i;?>').click(function(){
                var salePrice<?php echo $i;?> = $('#spl_price<?php echo $i;?>').val();
                var pro_id<?php echo $i;?> = $('#pro_id<?php echo $i;?>').val();
                    $.ajax({
                    type: 'get',
                    dataType: 'html',
                    url: '<?php echo url('/admin/addSale');?>',
                    data: "salePrice=" + salePrice<?php echo $i;?> + "& pro_id=" + pro_id<?php echo $i;?>,
                    success: function (response) {
                        console.log(response);
                    }
                });
                });
            });
            $('#noSale<?php echo $i;?>').click(function(){ // this when admin dnt need sale
            $('#amountDiv<?php echo $i;?>').hide();
            $('#checkSale<?php echo $i;?>').show();

            });
            //end loop
            <?php }?>
    });

</script>

<h1>Products</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Catgeory</th>
            <th>Sub_Cat</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <!--
            <th>Product Code</th>
            -->
            <th>Product Price</th>
            <th>Alt Images</th>
            <th>On Sale</th>
            <th>update</th>
        </tr>
    </thead>
    <% @products.each do |prod| %>
    <tbody>
        <tr>
            <td> <img src="<%= prod.img%>" alt="" width="50px" height="50px" />
            </td>
            <td><%= prod.cat_name['name']%></td>
            <td><%= prod.cat_name['sub']%></td>
            <td><%= prod.id%></td>
            <td><%= prod.name%></td>
            <!--
            <td>{{$product->pro_code}}</td>
            -->
            <td><%= prod.price%></td>
            <td>
                <p> <%= prod.img.size != 0 ? "image found" : "image not found "%></p>
                <%= link_to 'Add' %>
                <a href="{{url('/')}}/addAlt/{{$product->id}}" class="btn btn-info" style="border-radius:20px;">
                    <i class="fa fa-plus"></i> Add</a>
            </td>

            <td>
                <div id="checkSale<?php echo $count;?>">
                    <input type="checkbox" id="onSale<?php echo $count;?>"> Yes
                </div>

                <div id="amountDiv<?php echo $count;?>">
                    <input type="hidden" id="pro_id<?php echo $count;?>" value="{{$product->id}}" />
                    <input type="checkbox" id="noSale<?php echo $count;?>"> No
                    <br>
                    <input type="text" id="spl_price<?php echo $count;?>" placeholder="Sale Price" size="12" value="{{$product->spl_price}}">
                    <br>
                    <button id="saveAmount<?php echo $count;?>" class="btn btn-success">
                        Save Amount</button>
                </div>
            </td>

            <td><a href="{{url('/')}}/ProductEditForm/{{$product->id}}" class="btn btn-success btn-small">Edit</a>
            </td>
            <td><a href="{{url('/')}}/deleteProd/{{$product->id}}" class="btn btn-danger btn-small">Delete</a>
            </td>
        </tr>
    </tbody>
    <% end %>
</table>